
#meniu{
    background-color: #5f5f5f;
    padding: 25px;
}

#meniu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#meniu ul li{
    display: inline;
}

#meniu ul li a{
    text-decoration: none;
    padding: 10px 50px;
    color: white;
}
#meniu ul li a:hover{
    background-color: #6f6f6f;
}
.inregistrare{
    margin-top: 20px;
}
.inregistrare h2{
    text-align: center;
    margin-bottom: 30px;
    font-family: fantasy;
    font-size: 25px;
}

.inregistrare form{
    text-align: center;
    font-family: cursive;
    font-size: 20px;
}
.inregistrare form input:last-child:hover{
    background-color: #5f5f5f;
}

.autentificare {
    margin-top: 15px;
    padding: 10px 50px;
}
.autentificare h2{
    text-align: center;
    margin-bottom: 30px;
    font-family: fantasy;
    font-size: 25px;
}
.autentificare form{
    text-align: center;
    font-family: cursive;
    font-size: 20px;
}
.autentificare form input:last-child:hover{
    background-color: #5f5f5f;
}

.list-group{
    text-align: start;
    margin-right: 100px;
    margin-left: 100px;
    
}
.col-sm h3{
    margin-top: 80px;
    font-family: cursive;
    font-size: 20px;
    margin-bottom: -50px;
}
.col-sm p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

